* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Changa', sans-serif;
}

body {
    color: white;
    background-color: #0BB7FF;
}

/* Beginning of Top of Choose a Test Page */

main {
    background: no-repeat url(/images/Background\ Design\ 1@2x.png);
    background-size: 100%;
    background-color: #0BB7FF;
    padding: 10%;
}

/* Heading */

.top-of-page-heading {
    font-size: 2rem;
}

#choose-a-test-heading {
    display: flex;
    justify-content: center;
}

#test-selections {
    display: flex;
    justify-content: space-between;
}

.word, .image, .emp-div, h1 {
    margin: 0;
    padding: 0;
}

#list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.word, .image, .emp-div {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 30%;
    box-sizing: border-box
}

#img1, #img2, #img3, #img4 {
    border-radius: 50%;
    padding: 5%;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover {
    margin: -5px;
}

div .word {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    display: flex;
    z-index: 3;
    align-items: center;
    justify-content: center;
    text-shadow: rgba(0, 0, 0, 0.386) 2px 2px;
}

#img1:hover .word, #img2:hover .word, #img3:hover .word, #img4:hover .word {
    z-index: 2;
    color: #0BB7FF;
    text-shadow: #023d55a5 2px 2px;
}

div .emp-div {
    position: absolute;
    z-index: 2;
}

#img1:hover .emp-div, #img2:hover .emp-div, #img3:hover .emp-div, #img4:hover .emp-div {
    z-index: 1;
    opacity: 0%;
}

#img1:hover .word, #img1:hover .image, #img2:hover .word, #img2:hover .image, #img3:hover .word, #img3:hover .image, #img4:hover .word, #img4:hover .image {
    width: 210px;
    max-width: 210px;
}

.emp-div1, .emp-div2, .emp-div3, .emp-div4 {
    background-color: rgb(220, 219, 219);
}

div .w1, div .w2, div .w3, div .w4 {
    box-shadow: 0 0 30px 0 rgba(40, 39, 39, 0.776);
    padding: 0 2%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.emp-div1:hover, .emp-div2:hover, .emp-div3:hover, .emp-div4:hover {
    opacity: 0%;
}

div .image {
    visibility: hidden;
}

div:hover .image {
    visibility: visible;
}

@media (max-width:800px) {
    #list {
        flex-direction: column;
        align-content: center;
    }
}
img#moodie-logo {
    max-width: 50%
}